

.homeWrapper{

}


.homeWrapper h2 {
    text-align: left;
    font-weight: 500;
    font-size: 25px;
    margin-top: 20px;
    /* margin-left: 50px; */
}

.homeWrapper h4 {
    text-align: left;
     margin-top:30px;
     margin-bottom: 25px;
     font-weight: 500;
     color: rgb(4, 4, 69);

}

.articleList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

